@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.postion_absolute {
    position: absolute;
}

.padding_tb_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.lg_col_4 {
    width: 33.33%;
    margin-top: -5px;
}

.col-1 {
    width: 8.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-10 {
    width: 83.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-11 {
    width: 91.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.bg_FFF7F4 {
    background: #FFF7F4;
}

.heigth_100vh {
    height: 100vh;
}

.d_flex {
    display: flex;
}

.justify_content_space_between {
    justify-content: space-between;
}

.align_center {
    align-items: center;
}

.ff_Work_Sans {
    font-family: 'Work Sans';
}

.fs_39 {
    font-size: 39.06px;
}

.line_h_46 {
    line-height: 46px;
}

.color_FF5300 {
    color: #FF5300;
}

.fw_700 {
    font-weight: 700;
}

.ff_Poppins {
    font-family: 'Poppins';
}

.fs_normal {
    font-style: normal;
}

.fs_20 {
    font-size: 20px;
}

.line_h_30 {
    line-height: 30px;
}

.input_box input {
    width: 350px;
    padding-left: 10px;
    border-radius: 5px;
}

.input_box {
    background-color: white;
    border-radius: 5px;
}

.btn_subscribe {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: none;
    background: #FF5300;
    border-radius: 5px;
    color: white;
    padding: 15px 33px;
}

.padding_40 {
    padding: 50px;
}

.fw_500 {
    font-weight: 500;
}

.color_373737 {
    color: #373737;
}

.border_r_6 {
    border-radius: 6px;
}

.padding_tb_lr {
    padding: 7px 15px;
}

.padding_tb_lr_12_23 {
    padding: 12px 23px;
}

.b_color_373737 {
    border-color: #373737;
}

.fs_48 {
    font-size: 48px;
}

.line_h_73 {
    line-height: 73px;
}



.fs_16 {
    font-size: 16px;
}

.line_h_24 {
    line-height: 24px;
}

.fw_400 {
    font-weight: 400;
}

.heigth_100 {
    height: 100%;
}

.fs_9 {
    font-size: 9px;
}

.flex_direction_col {
    flex-direction: column;
}

.color_white {
    color: white;
}

.bg_FF5300 {
    background-color: #FF5300;
}

.border_none {
    border: none;
}

.w_100 {
    width: 100%;
}

.mt_18 {
    margin-top: 18px;
}

.mb_30 {
    margin-bottom: 30px;
}

.pt_25 {
    padding-top: 25px;
}

.mt_58 {
    margin-top: 88px;
}

.navbar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin-top: 5px;
}

.menu {
    display: none;
}

.line_h_59 {
    line-height: 59px;
}

.fw_600 {
    font-weight: 600;
}

.text_center {
    text-align: center;
}

.fs_25 {
    font-size: 25px;
}

.line_h_38 {
    line-height: 38px;
}

.fs_12 {
    font-size: 12px;
}

.line_h_19 {
    line-height: 19px;
}

.fs_64 {
    font-size: 64px;
}

.bg_FFFFFF {
    background: #FFFFFF;
}

.box_shadow {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.padding_20 {
    padding: 20px;
}

.border_r_10 {
    border-radius: 10px;
}

.color_EFEFEF {
    color: #EFEFEF;
}

.fw_300 {
    font-weight: 300;
}

.color_7B7B7B {
    color: #7B7B7B;
}

.mt_30 {
    margin-top: 30px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mt_40 {
    margin-top: 40px;
}

.border_solid {
    border: 2px solid #373737;
}


.box {
    height: 230px;
    width: 266px;
    border-radius: 0px;
    background: rgba(255, 83, 0, 0.75);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lg_col_4 :hover .box {
    opacity: 1;
}

a:hover {
    color: #FF5300;
}

.pt_40 {
    padding-top: 40px;
}

.mtb_6 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.mtb_30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.display_inline_block {
    display: inline-block;
}

ul li:hover a.bg_color_change {
    background-color: #FF5300;
    color: white;
    padding: 0px 15px;
    border-radius: 10px;
}

.postion_relative {
    position: relative;
}

.padding_25 {
    padding: 25px;
}

.mt_7 {
    margin-top: 7px;
}

.mt_25 {
    margin-top: 25px;
}

.m_l_15 {
    margin-left: 15px;
}

.padding_tb_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.border_right_2 {
    border-right: 3px solid #EFEFEF;
}

.border_r_4 {
    border-radius: 4px;
}

.padding_tb_40 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.over_flow_auto {
    overflow: auto;
}

.m_l_5 {
    margin-left: 5px;
}

.padding_15 {
    padding: 15px;
}

.footer_backgound_image {
    background-image: url(/assets/image/footer_background.png);
}

.justify_content_center {
    justify-content: center;
}

.footer_box {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 40px;
    transition: all 0.4s linear;
}

/* .footer_box:hover{
    background-color: #FF5300;
} */

.footer_box:hover path{
    fill: #FF5300;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #FF5300;
    border-radius: 15px;
    margin-left: 10px;
}

.padding_top_35 {
    padding-top: 35px;
}

.fixed_box {
    width: 40px;
    height: 40px;
    background-color: #FF5300;
    border-radius: 50%;
}

.flex_direction_row_reverse{
    flex-direction: row-reverse;
}
@media (max-width:992px) {
    .md_flex_diraction_col {
        flex-direction: column;
    }

    .input_box input {
        width: 100%;
    }

    .md_t_30 {
        margin-top: 30px;
    }

    .border_none {
        border: none;
    }

    .menu {
        display: block;
    }



    .md_mt_40 {
        margin-top: 40px;
    }

    .md_navbar {
        flex-direction: column;
        background-color: #FFF7F4;
        height: 100vh;
        position: fixed;
        width: 100%;
        top: 0px;
        left: -100%;
        justify-content: center;
        transition: all 0.5s linear;
    }

    .flex_direction_col_reverse {
        flex-direction: column-reverse;
    }

    .md_bg_FFF7F4 {
        background-color: #FFF7F4;
    }

    .md_col_12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md_2col_6 {
        width: 50%;
    }

    .md_mt_24 {
        margin-top: 24px;
    }

    .md_col_6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .z_index_9 {
        z-index: 9;
    }

    .md_postion_sticky {
        position: sticky;
        width: 100%;
        left: 0px;
        top: 0px;
    }

    .left_0 {
        left: 0px;
    }

    .md_mb_30 {
        margin-bottom: 30px;
    }

    .md_w_490 {
        width: 490px;
    }

}

@media (max-width:768px) {
    .sm_col_12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .sm_mt_24 {
        margin-top: 24px;
    }
}

@media (max-width:500px) {
    .xsm_fs_32 {
        font-size: 32px;
    }

    .xsm_line_h_40 {
        line-height: 40px;
    }

    .xsm_mt_40 {
        margin-top: 40px;
    }

    .xsm_col_12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .xsm_col_6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .xsm_2col_12 {
        width: 100%;
    }

    .xsm_mt_24 {
        margin-top: 24px;
    }



}

@media (min-width:992px) {
    .m_l_30 {
        margin-left: 30px;
    }

    .w_586 {
        width: 586;
    }

    .pb_25 {
        padding-bottom: 50px;
    }

    .mt_24 {
        margin-top: 24px;
    }

    .w_544 {
        width: 544px;
    }

    .w_491 {
        width: 491px;
    }
}













.main {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

input[type=checkbox] {
    visibility: hidden;
}

.w3docs {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #7c7979;
    border-radius: 50px;
}


/* .main:hover input~.w3docs {
      background-color: gray;
  }

  .main input:active~.w3docs {
      background-color: white;
  } */

.main input:checked~.w3docs {
    background-color: #FF5300;
}

.w3docs:after {
    content: "";
    position: absolute;
    display: none;
}


.main input:checked~.w3docs:after {
    display: block;
}


.main .w3docs:after {
    left: 7px;
    bottom: 6px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}